# Functions and Methods Homework

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [1]:
def vol(rad):
    return ((4/3)*3.14*(rad**3))

In [2]:
# Check
vol(2)

33.49333333333333

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [7]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(num,'is in the range between',low,'and',high)
    else:
        print(num,'is not in the range between',low,'and',high)

In [8]:
# Check
ran_check(5,2,7)

5 is in the range between 2 and 7

If you only wanted to return a boolean:

In [9]:
def ran_bool(num,low,high):
    return num in range(low,high+1)

In [10]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output :
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [11]:
def up_low(s):
    upper = 0
    lower = 0
    for char in s:
        if char.isupper():
            upper += 1
        elif char.islower():
            lower += 1
    print('No. of Upper case characters :',upper)
    print('No. of Lower case characters :',lower)

In [12]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

No. of Upper case characters : 4
No. of Lower case characters : 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [14]:
def unique_list(lst):
    return list(set(lst))

In [15]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [16]:
def multiply(numbers):
    product = 1
    for i in numbers:
        product *= i
    return product

In [17]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed in string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [18]:
def palindrome(s):
    return s == s[::-1]

In [19]:
palindrome('helleh')

True

____
#### Hard:

**Write a Python function to check whether a string is pangram or not.**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: Look at the string module

In [30]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    lower_string = ""
    for char in str1:
      if char.isalpha():
        lower_string += char.lower()

    alphabet_list = list(alphabet)

    for letter in alphabet_list:
      if letter not in lower_string:
        return False
    return True

In [36]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [ ]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

#### Great Job!