# Objects and Data Structures Assessment Test

## Test your knowledge.

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: 3 types - integer, float and complex

Strings: for text data

Lists: ordered collection of data

Tuples: similar to lists but non-mutable

Dictionaries: unordered collection of key-value pairs.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [32]:
10*(200/20)+((0.5)**2)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5  = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [22]:
print(4 * (6 + 5))
print(4 * 6 + 5)
print(4 + 6 * 5)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
float

What would you use to find a numberâ€™s square root, as well as its square?

In [42]:
# Square root:
2**(1/2)

1.4142135623730951

In [43]:
# Square:
2**(2)

4

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [19]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [18]:
s ='hello'
# Reverse the string using slicing
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [16]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[4])

o

In [17]:
# Method 2:
print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [14]:
# Method 1:
list = [0,0,0]
print(list)

[0, 0, 0]

In [13]:
# Method 2:
list = []
for i in range(3):
    list.append(0)
print(list)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [9]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [8]:
list4 = [5,3,4,6,1]
(list4.sort())
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [4]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [3]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [2]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][1][0])

hello

In [1]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

Can you sort a dictionary? Why or why not?<br><br>
No, because they are unordered.

## Tuples

What is the major difference between tuples and lists?<br><br>
we cannot change/modify a tuple's elements after the tuple has been created.

How do you create a tuple?<br><br>
tuple = (1,2,3)

## Sets

What is unique about a set?<br><br>
sets have unique elements (no duplicate) and no mutable elements like lists and dictionaries.

Use a set to find the unique values of the list below:

In [35]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
print(set(list5))

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [36]:
# Answer before running cell
#false
2 > 3

False

In [37]:
# Answer before running cell
#false
3 <= 2

False

In [38]:
# Answer before running cell
#false
3 == 2.0

False

In [39]:
# Answer before running cell
#true
3.0 == 3

True

In [40]:
# Answer before running cell
#false
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [41]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
#false
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!