# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:Values directly assigned to a variable and stored in the memory. These values can integer, floating point or complex type.

Strings:Characters enclosed in double/single quotes are referred as strings. Also string is like an array of characters and hence can be indexed.

Lists:Data type in which different values are stored in a single variable of list type, enclosed in square brackets. Lists are ordered, chageable and allow duplicate members.

Tuples:Data type same as lists except are unchangeable.

Dictionaries:Data type which stores data in format of key:value pairs. Dictionaries are ordered, changeable and do not allow duplicate members.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
3 / 4 + 5 ** 2 * 4 - 1 / 2

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [2]:
a = 4 * (6 + 5)
b = 4 * 6 + 5
c = 4 + 6 * 5
print(a,b,c)

44 29 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

What would you use to find a numberâ€™s square root, as well as its square?

In [3]:
# Square root:
import math
math.sqrt(64)

8.0

In [4]:
# Square:
pow(8,2)

64

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [5]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [6]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [7]:
s ='hello'
# Print out the 'o'

# Method 1:

s[len(s)-1]

'o'

In [8]:
# Method 2:

s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [ ]:
# Method 1:
thislist = [0,0,0]

In [ ]:
# Method 2:
thislist = list([0,0,0])

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [ ]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'

Sort the list below:

In [9]:
list4 = [5,3,4,6,1]

list4.sort()

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [ ]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

In [ ]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

In [10]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>Yes. 
Dictionaries can be sorted either on the basis of keys or values separately.

## Tuples

What is the major difference between tuples and lists?<br><br>Tuples are unchangeable while lists are changeable. That is, we can change any value at any index in the list, we can add and remove elements from the list but nothing of the above is possible in tuples directly.(Although there are ways for this indirectly)

How do you create a tuple?<br><br>tuple_1 = ("mango", "apple", "banana")

## Sets

What is unique about a set?<br><br>The elements are unordered, that is , not indexed and hence any element can't be accessed using indices or any key.

Use a set to find the unique values of the list below:

In [ ]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set_1 = set(list5)
set_1

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:
# Answer before running cell
2 > 3 #False

In [ ]:
# Answer before running cell
3 <= 2 #False

In [ ]:
# Answer before running cell
3 == 2.0 #False

In [ ]:
# Answer before running cell
3.0 == 3 #True

In [ ]:
# Answer before running cell
4**0.5 != 2 #False

Final Question: What is the boolean output of the cell block below?

In [ ]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1'] #False

## Great Job on your first assessment!